<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Devotion"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> Action </label> 
              <input name="system.action" type="text" value="{{system.action}}" data-koptions="{{#each config.actionTypes}}{{this}}/{{/each}}"/>
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">    
      <a class="item" data-tab="traits">Traits</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab traits" data-group="primary" data-tab="traits">
          <div class="item-stat-block">
            <div class="form-line attributeList">
              <label> Dice Pool </label> 
              <span class="stoneButton dicePoolAdd">+</span>
              {{#each system.dicePool.attributes}} 
              <select name="system.dicePool.attributes.{{@index}}">
                  {{#select this}}
                    {{#if ../potentialAttributes}}
                    <optgroup label="{{../potentialAttributesName}}">
                      {{#each ../potentialAttributes}}
                        {{#each entries}}
                          <option value="{{../name}}.{{this.[0]}}">{{this.[1]}}</option>
                        {{/each}}
                      {{/each}}
                    </optgroup>
                    {{/if}}
                    <optgroup label="Attributes">
                      {{#each ../config.attributes_physical}}
                        <option value="attributes_physical.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.attributes_social}}
                        <option value="attributes_social.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.attributes_mental}}
                        <option value="attributes_mental.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                    <optgroup label="Skills">
                      {{#each ../config.skills_physical}}
                        <option value="skills_physical.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.skills_social}}
                        <option value="skills_social.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.skills_mental}}
                        <option value="skills_mental.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                    <optgroup label="Traits">
                      {{#each ../config.derivedTraits}}
                        <option value="derivedTraits.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                  {{/select}}
                </select>
              <span class="stoneButton dicePoolRemove" data-index={{@index}}>-</span>
              {{/each}}
              <span>
                + <input name="system.dicePool.value" type="number" data-dtype="Number" placeholder=0 value="{{system.dicePool.value}}" />
              </span>
            </div>
            <div class="form-line">
              <label> Cost </label> 
              <input name="system.cost.value" type="number" data-dtype="Number" value="{{system.cost.value}}" />
              <span><label class="small"> Per Turn </label> 
                <label class="checkBox">
                  <input data-dtype="Boolean" name="system.cost.perTurn" type="checkbox" {{checked system.cost.perTurn}} >
                  <span></span>
                </label> 
              </span>
            </div>
            <div class="form-line">
              <label> Duration </label> 
              <input name="system.duration" type="text" value="{{system.duration}}" />
            </div>
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
